<div class="row">
  <div class="col-md-12 main">
    <h1 class="page-header">People</h1>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to "All (#{number_with_delimiter(@response.response.aggregations.roles.doc_count)})", "#" %></li>
      <% @response.response.aggregations.roles[:count].buckets.each do |bucket| %>
        <li role="presentation"><%= link_to "#{bucket[:key]} (#{number_with_delimiter(bucket[:doc_count])})", "#" %></li>
      <% end %>
    </ul>

    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Date of birth</th>
            <th>Roles</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @people.each do |person| %>
            <tr id="<%= dom_id(person) %>">
              <td><%= person.name %></td>
              <td><%= person.gender %></td>
              <td><%= person.phone %></td>
              <td><%= person.email %></td>
              <td><%= person.date_of_birth %></td>
              <td>
                <% person.roles.each do |role| %>
                  <%= role_label(role) %>
                <% end %>
              </td>
              <td><%= link_to 'Show', person, class: 'action' %></td>
              <td><%= link_to 'Edit', edit_person_path(person), class: 'action' %></td>
              <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= link_to 'New Person', new_person_path %>
